<div class="container">
  <%= form_with(model:@employee, local: true) do |form| %>

  <div>
    <%= form.label :name, class: 'form-label' %><br />
    <%= form.text_field :name, class:'form-control', placeholder: 'Enter Name'
    %>
  </div>
  <br />
  <div>
    <%= form.label :skill, class: 'form-label' %><br />
    <%= form.text_field :skill, class:'form-control', placeholder: 'Enter Skill'
    %>
  </div>
  <br />
  <div>
    <%= form.label :company, class: 'form-label' %><br />
    <%= form.collection_select:company_id, Company.all,:id,:name %>
  </div>
  <br />

  <%= form.label :projects, class: 'form-label' %><br />
  <div class="field">
    <%= collection_check_boxes(:employee, :project_ids, Project.all,:id,:name) %>
  </div>

  <br />

  <div>&nbsp;<%= form.submit class:'btn btn-success' %></div>
  <br />
  <% end %>
</div>
