<div class="container">
  <%= form_with(model:@employee, local: true) do |form| %>

  <div>
    <%= form.label :Name, class: 'form-label' %><br />
    <%= form.text_field :name, class:'form-control', placeholder: 'Enter Name'
    %>
  </div>
  <br />
  <div>
    <%= form.label :Skill, class: 'form-label' %><br />
    <%= form.text_field :skill, class:'form-control', placeholder: 'Enter Skill'
    %>
  </div>
  <br />
  <div>
    <%= form.label :Company, class: 'form-label' %><br />
    <%= form.collection_select:company_id, Company.all,:id,:name %>
  </div>
  <br />

  <!-- <div>
    <%= form.label :Projects, class: 'form-label' %><br />
    <%= form.collection_select:project_id, Project.all,:id,:name %>
  </div>
  <br /> -->

  <div>&nbsp;<%= form.submit class:'btn btn-success' %></div>
  <br />
  <% end %>
</div>
