<div class="container">
  <%= form_with(model: @article, local: true) do |form| %>

  <div>
    <%= form.label :Title, class: 'form-label' %><br />
    <%= form.text_field :title, class:'form-control', placeholder: 'Enter Title'
    %>
  </div>
  <br />
  <div>
    <%= form.label :Body, class: 'form-label' %><br />
    <%= form.text_field :body, class:'form-control', placeholder: 'Enter
    Description' %>
  </div>
  <br />

  <div>&nbsp;<%= form.submit class:'btn btn-success' %></div>
  <br />
  <% end %>
</div>
