<div class="container">
  <%= form_with(model:@project, local: true) do |form| %>

  <div>
    <%= form.label :Name, class: 'form-label' %><br />
    <%= form.text_field :name, class:'form-control', placeholder: 'Project Name'
    %>
  </div>
  <br />
  <div>
    <%= form.label :Description, class: 'form-label' %><br />
    <%= form.text_field :desc, class:'form-control', placeholder: 'Project
    Description' %>
  </div>
  <br />
  <%= form.label :Employee, class: 'form-label' %><br />
  <div class="field">
    <%= collection_check_boxes(:project, :employee_ids, Employee.all,:id,:name)
    %>
  </div>

  <br />

  <div>&nbsp;<%= form.submit class:'btn btn-success' %></div>
  <br />
  <% end %>
</div>
<!-- employee_id, options_for_select(Employee.all.collect{|emp|
    [emp.name]}), class:'form-control' %> -->
